
table {
      border-collapse: separate;
      border-spacing: 10px; /* Adjust the spacing value as needed */
    }
    
    td, th {
      padding: 10px; /* Adjust the padding value as needed */
      border: 1px solid black; /* Optional: Adding borders for better visibility */
    }    

 .no-border {
    border: none;
  }

body {
      font-family: Palatino, serif;
      margin: 0;
      padding: 0;
    }


    header {
      background-color: #ffffff;
      color: gray;
      padding: 1px;
      text-align: center;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    .menu {
      background-color: lightgray;
      padding: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;
      position: sticky;
      top: 0;
      z-index: 100;
    }

    .menu a {
      color: black;
      text-decoration: none;
      border: 2px solid black;
      padding: 5px 10px;
      border-radius: 2px;
      background-color: #ffffff;
    }

    h1 {
      font-family: Palatino, sans-serif;
      margin-top: 40px;
      color: gray;
    }

    h2, h3 {
      font-family: Palatino, sans-serif;
    }

    hr {
      border: none;
      border-top: 1px solid #333333;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    p {
      line-height: 1.5;
    }

    img {
      float: left;
      margin-right: 20px;
      margin-bottom: 10px;
      border: solid black 1px;
    }

    .smaller-break {
      line-height: 0.5;
    }

    footer {
      background-color: #ffffff;
      padding: 20px;
      text-align: center;
      border: solid white 1px;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }

    footer img {
      width: 150px;
      height: 75px;
      margin: 10px;
      border: none;
    }

 .toc-container {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
  }

  .toc-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .toc-item:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 20%;
    margin-right: 10px;
  }

  .toc-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

    .clear {
      clear: both;
    }

#copyButton {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

.container .menu a {
  border: none;
}

.container .menu a:hover {
  background-color: lightgray;
}

