/* hello my name is Theo */
ul
  {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    background-color: orange;
    overflow: auto;
  }

img
{width:500px;}


  li 
  {float: left; 
    margin: 10px;
    padding: 5px;}


body 
{background-color:111111;}


p { color:ffffff; }
