/* hello my name is Frances */


body {
  background-color: #f0f0f0;
Font-family: Arial 
color:657e9c;
width:2000px;
}





  li 
  {float: left; 
    margin: 10px;
    padding: 5px;}

H1 {color:000000;
Font-family: "Courier New" 
width:500px;}

h2 { color:2f63a3
Font-family: "Courier New"  
  width: 500px; }

p {
Font-family: Arial 
color:657e9c;
width:750px; }  

p1 {color: 657e9c 
Font-family: Arial 
width:750px;}